.dropdown-toggle.avatar {
	padding: 5px 15px 5px 15px;
}

.brand.avatar, img.avatar {
	width: 40px;
	height: 40px;
}

.pull-left.avatar {
	margin-right: 10px;
}

table {
	table-layout: fixed;

}
table th, table td {
	overflow: hidden;
}