<!DOCTYPE html>
<html lang="en" ng-app="KanbanMocked">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kanban</title>
        <meta name="author" content="Nazar Ivato" />
        <link rel="shortcut icon" href="tiles.ico">
        <script src="js/lib/jquery-1.11.1.min.js"></script>
        <script src="js/lib/bootstrap.min.js"></script>
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/angular-mocks.js"></script>
        <script src="js/modules/sprint.js"></script>
        <script src="js/kanban.js"></script>
        <script src="js/kanban-mocked.js"></script>
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/kanban.css">
    </head>
    <body ng-controller="ApplicationController as app">
        
        <div ng-controller="LoginController as lgn" class="modal fade" id="loginForm" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="loginLabel">Login to the System</h4>
                    </div>
                    <form role="form" ng-submit="lgn.submitLogin()">
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="username">Username or Email</label>
                                <input ng-model="lgn.username" type="text" class="form-control" id="username" placeholder="Enter username/email" required>
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="lgn.password" type="password" class="form-control" id="password" placeholder="Password" required>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox"> Keep me logged in
                                </label>
                            </div>
                            <p class="text-center text-danger">{{lgn.error}}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Register</button>
                            <button type="submit" class="btn btn-primary">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                        <span class="icon-bar"> </span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-fire"> </span> Project Name</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav" ng-show="app.authenticated()">
                        <li class="active"><a href="#">Board</a></li>
                        <li><a href="#">Backlog</a></li>
                        <li><a href="#">Sprints</a></li>
                        <li><a href="#">Releases</a></li>
                        <li><a href="#">Team</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <span class="caret"> </span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Sprints <span class="badge">11</span></a></li>
                                <li><a href="#">Releases <span class="badge">2</span></a></li>
                                <li class="divider"> </li>
                                <li><a href="#">People/Roles</a></li>
                                <li class="divider"> </li>
                                <li><a href="#">Project</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search" ng-show="app.authenticated()">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="enter search keywords...">
                                <span class="input-group-addon btn btn-default"><span class="glyphicon glyphicon-search"> </span></span>
                            </div>
                        </div>
                    </form>
                    <form class="navbar-form navbar-left" role="new" ng-show="app.authenticated()">
                        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-file"> </span> New ticket</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                            <li ng-hide="app.authenticated()"><a href="#" data-toggle="modal" data-target="#loginForm">Log In</a></li>
                            <li class="dropdown" ng-show="app.authenticated()">
                                <a href="#" class="dropdown-toggle avatar" data-toggle="dropdown">
                                    <img class="brand avatar" ng-src="img/ava/{{app.currentUser().picture}}" alt="app.currentUser().first_name + ' ' + app.currentUser().last_name"/> {{app.currentUser().username}} <span class="caret"> </span>
                                </a>
                                <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Profile</a></li>
                                <li><a href="#">Settings</a></li>
                                <li class="divider"> </li>
                                <li><a href="#" ng-click="app.logout()">Log Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <sprint-board ng-show="app.authenticated()"> </sprint-board>
        <footer class="footer" ng-show="app.authenticated()">
            <span class="text-muted">Currently v0.0.1 | Disigned and built by nivato</span>
        </footer>
    </body>
</html>