@font-face {
	font-family: 'Kanban Icon';
	src:url('../fonts/kanban-icon.eot?96eol0');
	src:url('../fonts/kanban-icon.eot?#iefix96eol0') format('embedded-opentype'),
		url('../fonts/kanban-icon.woff?96eol0') format('woff'),
		url('../fonts/kanban-icon.ttf?96eol0') format('truetype'),
		url('../fonts/kanban-icon.svg?96eol0#icomoon') format('svg');
}

.kanban-icon {
	font-family: 'Kanban Icon';
}

.kanban-icon:before {
	content: "\e600";
}

.logo {
	font-size: 200px;
}

.dropdown-toggle.avatar {
    padding: 5px 15px 5px 15px;
}

.brand.avatar, img.avatar {
    width: 40px;
    height: 40px;
}

.pull-left.avatar {
    margin-right: 10px;
}

.board-ticket {
    min-height: 90px;
}

.ticket-type {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-right: 5px;
}

.bug {
    border: 1px solid #FF0000;
}

.task {
    border: 1px solid #00AA00;
}

table {
    table-layout: fixed;
    min-height: 500px;
}

table th, table td {
    overflow: hidden;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 50px;
    color: #777;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-divider {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-top: 1px solid #e5e5e5;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.border {
    border: 1px solid #FF0000;
}
