<div class="container" ng-show="lrt.alert.type">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="alert {{lrt.alert.css}} alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong><span class="glyphicon glyphicon-{{lrt.alert.icon}}"></span> {{lrt.alert.type | capitalize}}!</strong> {{lrt.alert.message}}
		</div>
		<div class="col-md-1"></div>
	<div class="row">
</div>
