<a class="list-group-item board-ticket" href="/TCT-{{ticket.id}}" ng-class="ticket.css_class">
    <img class="pull-left avatar" ng-src="img/ava/{{ticket.assignee.picture || 'no_avatar.png'}}" alt="{{ticket.assignee.first_name + ' ' + ticket.assignee.last_name}}">
    <img class="pull-left ticket-type" ng-src="img/{{ticket.ticket_type}}.png" alt="{{ticket.ticket_type}}" ng-class="ticket.ticket_type" />
    <h4 class="list-group-item-heading">TCT-{{ticket.id}}</h4>
    <p class="list-group-item-text">{{ticket.summary | limitStrTo:60}}</p>
</a>
