<crop-image-dialog></crop-image-dialog>
<div class="container">
    <div class="row">
        <h2 class="text-center text-muted">Profile: {{profile.fullName()}}</h2>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-divider"></div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Avatar</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6" flow-init="{singleFile:true}" flow-name="profile.$flow">
                    <img class="thumbnail profile-avatar" ng-src="img/ava/{{profile.user.picture || 'no_avatar.png'}}" flow-img="$flow.files[0]" />
                    <div class="btn-group btn-group-xs">
                        <div ng-repeat="file in $flow.files" class="transfer-box">
                            <div class="progress progress-striped avatar-progress" ng-class="{active:file.isUploading()}">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (file.progress() * 100) + '%'}">
                                    <span class="sr-only">100% Complete</span>
                                </div>
                            </div>
                        </div>
                        <span class="btn btn-default" flow-btn ng-click="profile.changeAvatar()"><span class="glyphicon glyphicon-picture"></span> Change...</span>
                        <span class="btn btn-default" ng-show="$flow.files.length" ng-click="profile.cancelAvatar()"><span class="glyphicon glyphicon-remove"></span> Cancel</span>
                        <span class="btn btn-default" ng-show="$flow.files.length" role="button" data-toggle="modal" data-target="#cropImageDialog"><span class="glyphicon icon-target"></span> Crop...</span>
                        <span class="btn btn-primary" ng-show="$flow.files.length" ng-click="profile.saveAvatar()"><span class="glyphicon icon-disk"></span> Save</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Username</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6"><p>{{profile.user.username}}</p></div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>First Name</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-inline" ng-show="profile.isEditable('first_name')">
                        <input type="text" ng-model="profile.user.first_name" class="form-control input-sm" ng-keypress="profile.saveEditOnEnter($event, 'first_name')">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" ng-click="profile.cancelEdit('first_name')"><span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-primary" ng-click="profile.saveEdit('first_name')"><span class="glyphicon glyphicon icon-disk"></span></button>
                        </div>
                    </div>
                    <p ng-hide="profile.isEditable('first_name')">{{profile.user.first_name}}
                        <span class="btn btn-xs btn-default" ng-click="profile.editField('first_name')"><span class="glyphicon glyphicon-pencil text-muted"></span></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Last Name</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-inline" ng-show="profile.isEditable('last_name')">
                        <input type="text" ng-model="profile.user.last_name" class="form-control input-sm" ng-keypress="profile.saveEditOnEnter($event, 'last_name')">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" ng-click="profile.cancelEdit('last_name')"><span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-primary" ng-click="profile.saveEdit('last_name')"><span class="glyphicon glyphicon icon-disk"></span></button>
                        </div>
                    </div>
                    <p ng-hide="profile.isEditable('last_name')">{{profile.user.last_name}}
                        <span class="btn btn-xs btn-default" ng-click="profile.editField('last_name')"><span class="glyphicon glyphicon-pencil text-muted"></span></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Job Position</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-inline" ng-show="profile.isEditable('job_position')">
                        <input type="text" ng-model="profile.user.job_position" class="form-control input-sm" ng-keypress="profile.saveEditOnEnter($event, 'job_position')">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" ng-click="profile.cancelEdit('job_position')"><span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-primary" ng-click="profile.saveEdit('job_position')"><span class="glyphicon glyphicon icon-disk"></span></button>
                        </div>
                    </div>
                    <p ng-hide="profile.isEditable('job_position')">{{profile.user.job_position}}
                        <span class="btn btn-xs btn-default" ng-click="profile.editField('job_position')"><span class="glyphicon glyphicon-pencil text-muted"></span></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Project Roles</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="btn btn-default text-center role"><h1 class="text-muted glyphicon pm-icon"></h1><br/><small>PM</small></div>
                    <div class="btn btn-default text-center role"><h1 class="text-muted glyphicon tl-icon"></h1><br/><small>Team Leader</small></div>
                    <div class="btn btn-default text-center role"><h1 class="text-muted glyphicon reviewer-icon"></h1><br/><small>Reviewer</small></div>
                    <div class="btn btn-default text-center role"><h1 class="text-muted glyphicon developer-icon"></h1><br/><small>Developer</small></div>
                    <div class="btn btn-default text-center role"><h1 class="text-muted glyphicon tester-icon"></h1><br/><small>Tester</small></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Skype</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-inline" ng-show="profile.isEditable('skype')">
                        <input type="text" ng-model="profile.user.skype" class="form-control input-sm" ng-keypress="profile.saveEditOnEnter($event, 'skype')">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" ng-click="profile.cancelEdit('skype')"><span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-primary" ng-click="profile.saveEdit('skype')"><span class="glyphicon glyphicon icon-disk"></span></button>
                        </div>
                    </div>
                    <p ng-hide="profile.isEditable('skype')"><a href="skype:{{profile.user.skype}}?chat" ng-show="profile.user.skype"><span class="glyphicon icon-skype"></span> {{profile.user.skype}}</a>
                        <span class="btn btn-xs btn-default" ng-click="profile.editField('skype')"><span class="glyphicon glyphicon-pencil text-muted"></span></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Phone Number</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-inline" ng-show="profile.isEditable('phone')">
                        <input type="text" ng-model="profile.user.phone" class="form-control input-sm" ng-keypress="profile.saveEditOnEnter($event, 'phone')">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default" ng-click="profile.cancelEdit('phone')"><span class="glyphicon glyphicon-remove"></span></button>
                            <button type="button" class="btn btn-primary" ng-click="profile.saveEdit('phone')"><span class="glyphicon glyphicon icon-disk"></span></button>
                        </div>
                    </div>
                    <p ng-hide="profile.isEditable('phone')"><a href="tel:{{profile.user.phone}}" ng-show="profile.user.phone"><span class="glyphicon glyphicon-phone-alt"></span> {{profile.user.phone}}</a>
                        <span class="btn btn-xs btn-default" ng-click="profile.editField('phone')"><span class="glyphicon glyphicon-pencil text-muted"></span></span>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Email</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6"><p><a href="mailto:{{profile.user.email}}"><span class="glyphicon icon-mail"></span> {{profile.user.email}}</a></p></div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-5 col-xs-5 text-right"><strong>Password</strong></div>
                <div class="col-md-6 col-sm-6 col-xs-6"><p><a href="#"><span class="glyphicon icon-key"></span> Change password</a></p></div>
            </div>
            <div class="form-divider"></div>
        </div>
    </div>
</div>
