<div class="container">
	<div class="row">
        <h2 class="text-center text-muted">Become a new Kanban user</h2>
    </div>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<form class="form-horizontal" role="form" ng-submit="reg.submitRegistration()">
				<div class="form-divider"></div>
				<p class="text-center text-danger">{{reg.message}}</p>
				<div class="form-group">
					<label for="reg_username" class="control-label col-md-4">Username</label>
					<div class="col-md-6">
						<input type="text" ng-model="reg.user.username" class="form-control" id="reg_username" placeholder="Enter username">
					</div>
				</div>
				<div class="form-group">
					<label for="reg_email" class="control-label col-md-4">Email</label>
					<div class="col-md-6">
						<input type="email" ng-model="reg.user.email" class="form-control" id="reg_email" placeholder="Enter email">
					</div>
				</div>
				<div class="form-group">
					<label for="reg_password" class="control-label col-md-4">Password</label>
					<div class="col-md-6">
						<input type="password" ng-model="reg.user.password" class="form-control" id="reg_password" placeholder="Enter password">
					</div>
				</div>
				<div class="form-group">
					<label for="reg_confirm_password" class="control-label col-md-4">Confirm password</label>
					<div class="col-md-6">
						<input type="password" ng-model="reg.user.confirmation" class="form-control" id="reg_confirm_password" placeholder="Re-enter password">
					</div>
				</div>
				<div class="form-divider"></div>
				<div class="form-group text-right">
					<div class="col-md-10">
						<button type="button" class="btn btn-default" ng-click="reg.cancelRegistration()"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
						<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-user"></span> Register</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>
