<div class="container-fluid">
    <div class="page-header">
        <ol class="breadcrumb ticket-breadcrumb">
            <li><a href="#">Sprint 2</a></li>
            <li><a href="/TCT-{{tct.ticket.id}}">TCT-{{tct.ticket.id}}</a></li>
        </ol>
        <h2 class="text-muted ticket-summary">{{tct.ticket.summary}}
            <span class="btn btn-default"><span class="glyphicon glyphicon-pencil text-muted"></span></span>
        </h2>
    </div>
    <div class="row bottom-margin">
        <div class="col-xs-12">
            <span class="btn btn-default right-margin"><span class="glyphicon glyphicon-pencil text-muted"></span> Edit</span>
            <span class="btn btn-default right-margin"><span class="glyphicon icon-comment text-muted"></span> Comment</span>
            <div class="btn-group right-margin">
                <span class="btn btn-default"><span class="glyphicon icon-person text-muted"></span> Assign</span>
                <span class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    More... <span class="caret text-muted"></span>
                </span>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group right-margin">
                <span class="btn btn-default">Start Progress</span>
                <span class="btn btn-default">Into Review</span>
                <span class="btn btn-default">Into Testing</span>
                <span class="btn btn-default">Resolve</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="details_heading">
                    <a data-toggle="collapse" data-target="#details" href="#" aria-expanded="true" aria-controls="details" class="text-muted" ng-click="tct.togglePanel('details')">
                        <span class="caret" ng-class="{'caret-right': tct.panels.details.collapsed}"></span> Details
                    </a>
                </div>
                <div id="details" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="details_heading">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="text-muted">Type:</span>
                            </div>
                            <div class="col-sm-4">
                                <img class="ticket-type {{tct.ticket.ticket_type}}" ng-src="img/{{tct.ticket.ticket_type}}.png" alt="{{tct.ticket.ticket_type}}" />
                                {{tct.ticket.ticket_type | capitalize}}
                            </div>
                            <div class="col-sm-2">
                                <span class="text-muted">Status:</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="label label-warning">{{tct.ticket.status | capitalize}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="text-muted">Components:</span>
                            </div>
                            <div class="col-sm-4">
                                Some components...
                            </div>
                            <div class="col-sm-2">
                                <span class="text-muted">Resolution:</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="label label-success">{{tct.ticket.resolution | capitalize}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="descr_heading">
                    <a data-toggle="collapse" data-target="#descr" href="#" aria-expanded="true" aria-controls="descr" class="text-muted" ng-click="tct.togglePanel('description')">
                        <span class="caret" ng-class="{'caret-right': tct.panels.description.collapsed}"></span> Description
                    </a>
                </div>
                <div id="descr" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="descr_heading">
                    <div class="panel-body">
                        {{tct.ticket.description}}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="people_heading">
                    <a data-toggle="collapse" data-target="#people" href="#" aria-expanded="true" aria-controls="people" class="text-muted" ng-click="tct.togglePanel('people')">
                        <span class="caret" ng-class="{'caret-right': tct.panels.people.collapsed}"></span> People
                    </a>
                </div>
                <div id="people" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="people_heading">
                    <div class="panel-body">
                        <h3 class="text-muted glyphicon dummy-icon"></h3> Assignee:<br/>
                        <h3 class="text-muted glyphicon dummy-icon"></h3> Reporter:<br/>
                        <h3 class="text-muted glyphicon developer-icon"></h3> Developer:<br/>
                        <h3 class="text-muted glyphicon reviewer-icon"></h3> Reviewer:<br/>
                        <h3 class="text-muted glyphicon tester-icon"></h3> Tester:
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="dates_heading">
                    <a data-toggle="collapse" data-target="#dates" href="#" aria-expanded="true" aria-controls="dates" class="text-muted" ng-click="tct.togglePanel('dates')">
                        <span class="caret" ng-class="{'caret-right': tct.panels.dates.collapsed}"></span> Dates
                    </a>
                </div>
                <div id="dates" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="dates_heading">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="text-muted">Created:</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-time text-muted"></span> {{tct.ticket.created_at | date:'h:mm:ss a'}}
                            </div>
                            <div class="col-sm-4">
                                <span class="glyphicon icon-calendar text-muted"></span> {{tct.ticket.created_at | date:'MMM d, y'}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                <span class="text-muted">Updated:</span>
                            </div>
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-time text-muted"></span> {{tct.ticket.updated_at | date:'h:mm:ss a'}}
                            </div>
                            <div class="col-sm-4">
                                <span class="glyphicon icon-calendar text-muted"></span> {{tct.ticket.updated_at | date:'MMM d, y'}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
